*{/*O asterisco (*) é um seletor universal, que aplica as regras a todos os elementos da página.*/
    margin: 0; /*Remove a margem padrão de todos os elementos.*/
    padding: 0; /*Remove o preenchimento interno (espaço entre o conteúdo de um elemento e suas bordas) de todos os elementos.*/
    
    box-sizing: border-box;/*box-sizing: border-box; é uma propriedade que altera a forma como o tamanho de um elemento (largura e altura) é calculado. Ele determina se o padding e as bordas de um elemento são incluídos nas dimensões definidas (largura e altura) ou se são adicionados separadamente.*/

    /*
    O CSS box-sizing: border-box; é uma propriedade que altera a forma como o tamanho de um elemento (largura e altura) é calculado. Ele determina se o padding e as bordas de um elemento são incluídos nas dimensões definidas (largura e altura) ou se são adicionados separadamente.

    Comportamento Padrão (box-sizing: content-box;)
    content-box é o valor padrão do box-sizing.
    A largura e a altura definidas não incluem o padding e as bordas.
    Resultado: O tamanho final do elemento será maior do que a largura/altura definidas, porque o padding e a borda são adicionados.*/

    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #e7e7e7;
    padding-top: 100px;
}

header{
    display: flex; /*A propriedade CSS display: flex; ativa o Flexbox, um modelo de layout flexível que facilita a organização e o alinhamento de elementos dentro de um contêiner. É especialmente útil para criar layouts responsivos.*/
    align-items: center;
    margin-bottom: 40px;
}

header img{
    height: 36px;
    margin-right: 16px;
}

header h1{
    font-size: 40px;
    font-weight: bold;
}

.container{
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}
form{
    display: flex;
    max-width: 640px;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 56px;
}
form input{
    font-size: 24px;
    background-color: #fff;
    border: none;
    border-bottom: 2px solid #000;
    padding: 8px;
}

form button{
    background-color: #009432;
    color:#fff;
    font-size:24px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    padding: 8px;
}

table{
    width: 100%;
}

table th{
    border-bottom: 2px solid #000;
    padding: 16px; 
    font-size: 24px;
    font-weight: bold;
}

table td{
    padding: 8px 0;
    text-align: center;
    font-size: 24px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

table td img{
    height: 30px;
}

.resultado{
    padding: 8px;
    font-weight: bold;
    color: #fff;
    background-color: #000;
    border-radius: 3px;
}

.aprovado{
    background-color: #009432;
}

.reprovado{
    background-color: red;
}
